{% extends 'owner_template/base_template.html' %}
{% block page_title %}
Owner Dashboard
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ institution_count }}</h3>
                <p>Total Institutions</p>
              </div>
              <div class="icon">
                <i class="ion ion-university"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ student_count }}</h3>
                <p>Total Students</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ staff_count }}</h3>
                <p>Total Staff</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ department_count }}</h3>
                <p>Total Departments</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>

          <div class="row">
              <div class="col-lg-6">
                  <div class="card card-danger">
                      <div class="card-header">
                        <h3 class="card-title">Students per Institution</h3>
                      </div>
                      <div class="card-body">
                        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                    </div>
              </div>
              <div class="col-lg-6">
                   <div class="card card-success">
                      <div class="card-header">
                        <h3 class="card-title">Staff per Institution</h3>
                      </div>
                      <div class="card-body">
                        <div class="chart">
                          <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                      </div>
                    </div>
              </div>
          </div>

      </div>
    </section>
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
           var pieData        = {
              labels: {{ institution_name_list|safe }},
              datasets: [
                {
                  data: {{ student_count_list }},
                  backgroundColor : ['#f56954', '#00a65a','#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
              ]
            }

            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieOptions     = {
              maintainAspectRatio : false,
              responsive : true,
            }
            var pieChart = new Chart(pieChartCanvas, {
              type: 'pie',
              data: pieData,
              options: pieOptions
            });

            var barChartData = {
              labels  : {{ institution_name_list|safe }},
              datasets: [
                {
                  label               : 'Staff Count',
                  backgroundColor     : 'rgba(60,141,188,0.9)',
                  borderColor         : 'rgba(60,141,188,0.8)',
                  pointRadius          : false,
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                : {{ staff_count_list }}
                }
              ]
            }
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChartOptions = {
              responsive              : true,
              maintainAspectRatio     : false,
              datasetFill             : false
            }

            var barChart = new Chart(barChartCanvas, {
              type: 'bar',
              data: barChartData,
              options: barChartOptions
            });
    });
</script>
{% endblock custom_js %}
