{% extends 'student_template/base_template.html' %}
{% block custom_css %}
<style>
.col-lg-3.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f44336;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}
{% block page_title %}
Attendance Data
{% endblock page_title %}
{% block main_content %}
    
            
            <div class="bg-surface-container-lowest rounded-2xl overflow-hidden">
              <div class="px-8 py-5 border-b border-outline-variant/10"><h3 class="font-headline font-bold text-on-surface text-lg">View Attendance</h3></div>
              
              
                <div class="p-8 space-y-6">
                    <div class="row">
                    {% if attendance_reports %}
                    {% for attendance_report in attendance_reports %}
                       {% if attendance_report.status == True %}
                        <div class="col-lg-3 attendance_div_green">
                            <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                            <br>
                            <b>[ Status : Present ]</b>
                        </div>
                        {% else %}
                        <div class="col-lg-3 attendance_div_red">
                            <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                            <br>
                            <b>[ Status : Absent ]</b>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">No Attendance Data Found!</div>
                     {% endif %}
                    </div>
                </div>
            

          
{% endblock main_content %}
